<!DOCTYPE html>
<html lang="en-US">

<head>

    <!-- META INFO  -->

    <meta charset="utf-8">
    <title>Title</title>
    <meta name="description" content="Footer">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SCRIPTS, CSS -->

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" type="text/css" href="./footer.css" />
    <script src="./scripts/footerScripts.js" defer></script>
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">

</head>

<body>

    <footer>

        <div class="footerWrapper">

            <div class="footerContent">
                <img src="LogoWhiteBig006.png" alt="logo">
                <div class="footerLinks1">
                    <a href="">Home</a>
                    <a href="">About</a>
                    <a href="">Writings</a>
                </div>
                <div class="footerLinks2">
                    <a href="">Projects</a>
                    <a href="">Learning</a>
                    <a href="">Contact</a>
                </div>



                <div class="getUpdates">
                    <p class="contact-me">Stay connected via:</p>
                    <div class="icons contact-me">
                        <ul>
                            <li>LinkedIn</li>
                            <li>GitHub</li>
                        </ul>
                    </div>
                    <p class="contact-me">Contact button</p>
                </div>
            </div>

            <div class="footerBottom">
                <p><small>
                        ★。＼｜／。★
                    </small>
                </p>
                <small>Made with ♡ in Hungary ✧ <span id="footerDate"></span> kilipuedesign (C) ✧ All rights reserved
                </small>
                <p>
                    <small>
                        ★。／｜＼。★
                    </small>
                </p>
            </div>

        </div>

        <script>
            document.getElementById('footerDate').innerText = new Date().getFullYear();
        </script>

    </footer>

</body>

</html>