<!DOCTYPE html>
<html lang="en-US">

<head>

    <!-- META INFO  -->

    <meta charset="utf-8">
    <title>Title</title>
    <meta name="description" content="Navbar">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SCRIPTS, CSS -->

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" type="text/css" href="./navbar.css" />
    <!-- <script src="./scripts/main.js" defer></script> DEFAULT JS TEMPLATE -->
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">
    <!-- FONTAWESOME ICON LIBRARY -->

</head>

<body>

    <header class="fullpage-header">

        <div class="nav-wrapper">
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Writings</a></li>
                    <img src="./public/LogoWhite005.png" alt="kilipuedesign logo">
                    <li> <a href="">Projects</a></li>
                    <li><a href="">Learn</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
        </div>

        <div class="wrapper">
            <h1 class="headline">Welcome to kilipuedesign!</h1>
            <div class="tagline">
                <p class="tag">I am committed to create beautiful webpages with modern design and full
                    functionality.
                </p>
            </div>
            <div class="header-button">
                <a id="headerButton" href="#" target="_blank">Contact me</a>
            </div>
        </div>

    </header>

</body>

</html>