/* ===== BASIC STYLES AND TYPOGRAPHY ===== */

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 140px; /* Equals the height of the footer +30px so the content doesnt flow below it */
    font-family: Merriweather, 'Times New Roman', serif;
    font-size: 1.125rem;
    line-height: 2rem;
    color: #333;
}

figcaption {
    font-size: 0.75rem;
}

h1, h2, h3 {
  font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
    text-align: left;
	color: #be9e44;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

.post-date {
    font-size: 0.85rem;
    font-style: italic;
    color: #1a1a1a;
}

.main-header p {
	font-size: 1.125rem;
	letter-spacing: 0.125rem;
	color: #8c8e9b;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: darkslategrey;
}

/* ===== LAYOUT STYLES ===== */

/* Header Styles */

.main-header {
    text-align: center;
    padding: 1.25rem;
	color: #fff;
	background-color: #42444e;
}

/* Article Styles */

.post {
    width: 95%;
    margin: 0 auto 1rem;
    padding: 0.3125rem;
}

li {
    padding-left: 1rem;
    list-style-type: disc;
    list-style-position: inside;
}

/* Primary content wrapper styles */

@media (min-width: 768px) {
    .primary-content {
        float: right;
        width: 66.6%;
        max-width: 812px;
    }
}

@media (min-width: 1025px) {
    .primary-content {
        float: none;
        position: absolute;
        left: 20.625%;
    }
}

/* Vertical Rhythm */

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr,.main-header,.primary-content {
    margin-bottom: 1rem;
}

.primary-content {
    margin-top: 1rem;
}

h2 {
    margin-bottom: 0rem;
}

/* Responsive Media */

img {
    width: 100%;
}

.fig {
	height: 0;
	padding-bottom: 56.25%; /* 16:9 aspect ratio */
	position: relative;
}

.fig iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

/* ==== COMPONENT STYLES ==== */

.button {
	display: inline-block;
    text-align: center;
	border: 1px solid #8c8e9b;
	color: #8c8e9b;
	border-radius: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 5px;
	width: 100px;
	font-family: 'Open Sans', sans-serif;
}

.button:hover {
	border: 0;
    background-color: #d8c690;
    transition: background-color .2s ease-in-out;
    color: ghostwhite;
}

.load {
	display: block;
	text-align: center;
	padding: 0.625rem;
	font-size: 1.25rem;
	color: #8c8e9b;
}

/* ===== FOOTER STYLES ===== */

footer {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 140px;
    padding: 1.7rem 0;
    font-size: .875rem;
    text-align: center;
    background: url(../styles/simple-footer.png) repeat center;
    color: #fff;
}

#copyright {
    padding-bottom: 0.9rem;
}

#footerLinks a {
    padding: 0 0.9rem;
    text-decoration: none;
    color: #CBB26A;
}

strong {
    font-weight: bold;
}

#brand-font {
    font-family: "matura mt script capitals";
    font-size: 1.125rem;
}

/* ===== MEDIA QUERIES ===== */

@media (min-width: 768px) {
    .main-header {
        position: fixed;
        top: 0;
        height: 100%;
        width: 33.3%;
    }

    .post {
        text-align: justify;
    }

    /* CUSTOMIZED SCROLLBAR */

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 5px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    
}

@media (min-width: 1025px) {
    .main-header {
        width: 20.625%;
    }
}