/* ===== BASIC STYLES AND TYPOGRAPHY ===== */

* {
box-sizing: border-box;
}

body, header, main, section, footer {
    overflow-x: hidden;
}

html {
    min-height: 100%;
    width: 100vw;
    position: relative;
}

body {
    margin-bottom: 100px; /* Equals the height of the footer +30px so the content doesnt flow below it */
    font-family: Merriweather, 'Times New Roman', serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #333;
    position: relative;
}

h1, h2, h4, .button, footer {
    font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 4rem;
    color: #be9e44;
}

#tagline {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1rem;
	color: #8c8e9b;
    text-shadow: -1px -1px white;
}

h2 {
    font-size: 1.625rem;
    color: rgb(255, 128, 0);
}

h3 {
    width: 90vw;
    margin: 1rem;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1.125rem;
	letter-spacing: 0.125rem;
	color: #1a1a1a;
    text-shadow: -1px -1px white;
}

h4 {
    width: 100vw;
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(255, 128, 0);
    text-shadow: -1px -1px white;
}

a {
    text-decoration: none;
    color: rgb(207, 120, 33);
}

a:hover {
    color: rgb(255, 128, 0);
    transition: color .5s ease-in-out;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color:  rgb(207, 120, 33);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    padding-left: .5em;
  }

ul li.technologies::before {
    content: "";
    padding-left: 0;
}

i {
    padding-right: .75rem;
    color:  rgb(207, 120, 33);
}

i:hover {
    color: rgb(255, 128, 0);
    transition: color .5s ease-in-out;
}

#contact-me li {
    display: inline-block;
    margin-right: 1.5rem;
}

#contact-me li::before {
    content: "";
    padding-left: 0;
}

/* ===== LAYOUT STYLES ===== */

/* Header Styles */

header {
    width: 100vw;
    text-align: center;
    padding: 1.25rem;
	color: #fff;
    background: url(./simple-footer.png) repeat center;
    position: relative;
    overflow: hidden;
}

/* Article Styles */

section {
    width: 95vw;
    padding: 0 1rem;
}

/* Vertical Rhythm */

h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr,article,section,.hero-image {
    margin-bottom: 1.3rem;
}

/* Responsive Media */

img {
    width: 100%;
}

#profile {
    width: 25%;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    filter: sepia(50%);
}

#profile:hover {
    transform: scale(1.01);
    filter: sepia(0%);
}

/* ==== COMPONENT STYLES ==== */

.button {
	display: inline-block;
    text-align: center;
	border: 1px solid rgb(128, 128, 128);
    background-color: black;
	color: rgb(128, 128, 128);
	border-radius: 5px;
    padding: 0 5px;
	margin: 5px;
    width: 100px;
    font-size: 1rem;
}

.button:hover {
	border: 1px solid rgb(102, 102, 102); 
    background-color: rgb(102, 102, 102);
    color: ghostwhite;
}

.hero-image {
    position: relative;
    width: 100vw;
    height: 120vh;
    background: #ccc url("./profile.jpg") no-repeat 70%;
    text-align: center;
    background-size: cover;
    transition: all 0.5s ease-in-out;
    filter: sepia(50%);
}

.hero-image:hover {
    filter: sepia(0);
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 0%;
    color: white;
}

#hero-button {
    border: 1px solid rgb(102, 102, 102); 
    background-color: rgb(102, 102, 102);
    color: ghostwhite;
}

#hero-button:hover {
    border: 1px solid rgb(128, 128, 128);
    background-color: #42444e;
}

/* ===== FOOTER ===== */

footer {
    position: absolute;
    width: 100vw;
    height: 140px;
    padding: 1.7rem 0;
    background: url(./simple-footer.png) repeat center;
    font-size: .875rem;
    text-align: center;
    color: #fff;
}

#copyright {
    padding-bottom: 0.9rem;
}

#footerLinks a {
    padding: 0 0.9rem;
    text-decoration: none;
    color: #CBB26A;
}

strong {
    font-weight: bold;
}

#brand-font {
    font-family: "matura mt script capitals";
    font-size: 1.125rem;
    font-weight: lighter;
}

/* ===== MEDIA QUERIES ===== */

@media (min-width: 800px) {

    h1 {
        letter-spacing: 6px;
    }

    #tagline {
        font-size: 1.125rem;
        letter-spacing: 0.125rem;
    }

    h3 {
        margin: 5rem;
    }
 
    section {
        max-width: 800px;
        margin: auto;
        text-align: justify;
    }

    .hero-image {
        height: 550px;
        background-position: center;
    }

    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    /* Vertical Rhythm */

    h1,h2,h3,h4,h5,h6,hgroup,
    ul,ol,dd,
    p,figure,
    pre,table,fieldset,hr,article,section,.hero-image {
        margin-bottom: 1.3rem;
    }

    figure {
        margin-bottom: 2rem;
    }

    /* CUSTOMIZED SCROLLBAR */

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 5px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }

}